video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('images/Flying-Birds.jpg') no-repeat;
    background-size: cover;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}